.swiper-indicator {
	position: absolute;
	bottom: 10px;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transform: translateX(-50%);

	&-dot {
		width: 8px;
		height: 8px;
		background-color: var(--ygm-color-light);
		border-radius: 50%;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&-active {
			width: 13px;
			background-color: var(--ygm-color-primary);
		}
	}
}
